<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      <header><h2><%= current_user.user_name %></h2>
        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="abandon cats">
        </form>
      </header>
    <% else %>
      <header>
        <a href="<%= new_session_url %>">Sign-in</a>
      </header>
    <% end %>
    <%= yield %>
  </body>
</html>
